header{
    display:flex;
    align-items:center;
}

header img{
    width: 100px;
}

.header-text{

}

.welcome-section{

}

.welcome-text{
    
}

.welcome-section img{
    width: 100px;
}

main{

}

.spring{

}

.summer{

}

.fall{

}

.winter{

}

